In [14]:
import numpy as np
import pandas as pd

In [15]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [16]:
movies=movies.merge(credits,on='title')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [18]:
movies=movies[['movie_id','title','genres','overview','release_date','budget','revenue','runtime','cast','crew']]

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4809 non-null   int64
 1   title         4809 non-null   object
 2   genres        4809 non-null   object
 3   overview      4806 non-null   object
 4   release_date  4808 non-null   object
 5   budget        4809 non-null   int64
 6   revenue       4809 non-null   int64
 7   runtime       4807 non-null   float64
 8   cast          4809 non-null   object
 9   crew          4809 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 375.8+ KB

In [21]:
import ast
movies['genres']=movies['genres'].apply(lambda x:ast.literal_eval(x))
movies['cast']=movies['cast'].apply(lambda x:ast.literal_eval(x))
movies['crew']=movies['crew'].apply(lambda x:ast.literal_eval(x))

In [22]:
def convert(List):
    L=[]
    for i in List:
        L.append(i['name'])
        
    return L

In [23]:
movies.loc[:,'genres']=movies['genres'].apply(convert)

In [24]:
def castCon(list1):
    c=0
    L=[]
    for i in list1:
        if c!=4:
            L.append(i['name'])
            c=c+1
        else:
            break
            
    return L

In [25]:
movies.loc[:,'cast']=movies['cast'].apply(castCon)

In [31]:
movies

,movie_id,title,genres,overview,release_date,budget,revenue,runtime,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...",2009-12-10,237000000,2787965087,162.0,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...",2007-05-19,300000000,961000000,169.0,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,2015-10-26,245000000,880674609,148.0,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,2012-07-16,250000000,1084939099,165.0,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...",2012-03-07,260000000,284139100,132.0,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]
...,...,...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[Action, Crime, Thriller]",El Mariachi just wants to play his guitar and ...,1992-09-04,220000,2040920,81.0,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,"[Comedy, Romance]",A newlywed couple's honeymoon is upended by th...,2011-12-26,9000,0,85.0,"[Edward Burns, Kerry Bishé, Marsha Dietlein, C...",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","""Signed, Sealed, Delivered"" introduces a dedic...",2013-10-13,0,0,120.0,"[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",[Scott Smith]
4807,126186,Shanghai Calling,[],When ambitious New York attorney Sam is sent t...,2012-05-03,0,0,98.0,"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...",[Daniel Hsia]
4808,25975,My Date with Drew,[Documentary],Ever since the second grade when he first saw ...,2005-08-05,0,0,90.0,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...",[Brian Herzlinger]

In [33]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4809 non-null   int64
 1   title         4809 non-null   object
 2   genres        4809 non-null   object
 3   overview      4806 non-null   object
 4   release_date  4808 non-null   object
 5   budget        4809 non-null   int64
 6   revenue       4809 non-null   int64
 7   runtime       4807 non-null   float64
 8   cast          4809 non-null   object
 9   crew          4809 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 375.8+ KB