## What did i do?

In [1]:
# If there is a situation like i need to convert "[1,2,3,4]" to [1,2,3,4]
# USE ast module

In [2]:
x='[1,2,3,4]'

In [3]:
type(x)

str

In [6]:
import ast
change=(lambda y:ast.literal_eval(y))

In [7]:
x=change(x)
type(x)

list

In [8]:
# How to remove stop word from a sentence

In [9]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [10]:
text="The warning message you provided is related to modifying a DataFrame using indexing."

In [11]:
sw=set(stopwords.words('english'))
wt=word_tokenize(text)

In [12]:
wt

['The',
 'warning',
 'message',
 'you',
 'provided',
 'is',
 'related',
 'to',
 'modifying',
 'a',
 'DataFrame',
 'using',
 'indexing',
 '.']

In [13]:
filtered_words=[word for word in wt if not word.lower() in sw]
filtered_words

['warning',
 'message',
 'provided',
 'related',
 'modifying',
 'DataFrame',
 'using',
 'indexing',
 '.']

In [14]:
new_text=' '.join(filtered_words)
new_text

'warning message provided related modifying DataFrame using indexing .'

In [15]:
# Handleing words with same meaning
# ['loved','loving'] to ['love','love']

In [16]:
from nltk.stem.porter import PorterStemmer

In [17]:
ps=PorterStemmer()
ps.stem('loved')

'love'

In [18]:
x=['go','goes','gone','going','went']
y=[ps.stem(word) for word in x]
y

['go', 'goe', 'gone', 'go', 'went']

In [20]:
import numpy as np
import pandas as pd

In [21]:
x={'tags':['Attack on Titan, created by Hajime Isayama, is a gripping anime set in a world besieged by enormous humanoid creatures known as Titans, which have forced humanity to live within massive walled cities for protection.','Death Note is an anime that follows a high school student named Light Yagami who discovers a supernatural notebook.','To check the list of stopwords you can type the following commands in the python shell.']}
df=pd.DataFrame(x)

In [22]:
df

                                                tags
0  Attack on Titan, created by Hajime Isayama, is...
1  Death Note is an anime that follows a high sch...
2  To check the list of stopwords you can type th...

In [26]:
stop_words=set(stopwords.words('english'))

In [31]:
def removeSTOPWORDSandSimilarWords(obj):
    word_tokens=word_tokenize(obj)
    filtered_words=[w for w in word_tokens if not w.lower() in stop_words]
    fl_w_with_removeOFS=[ps.stem(w) for w in filtered_words]
    return ' '.join(fl_w_with_removeOFS)

In [34]:
df['tags']=df['tags'].apply(removeSTOPWORDSandSimilarWords)
df['tags'][0]

'attack titan , creat hajim isayama , grip anim set world besieg enorm humanoid creatur known titan , forc human live within massiv wall citi protect .'

In [35]:
# Text Vectorization

In [36]:
sent1 = "Attack on Titan, created by Hajime Isayama, is a gripping anime set in a world besieged by enormous humanoid creatures known as Titans, which have forced humanity to live within massive walled cities for protection."

sent2 = "Death Note is an anime that follows a high school student named Light Yagami who discovers a supernatural notebook."

In [37]:
import sklearn
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
cv=CountVectorizer(max_features=50,stop_words='english')

In [46]:
sentences=[sent1,sent2]

In [47]:
vectorized_array=cv.fit_transform(sentences).toarray()

In [48]:
vectorized_array

array([[1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0],
       [1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
        1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1]], dtype=int64)

In [54]:
feature_names = cv.get_feature_names_out()

In [55]:
feature_names

array(['anime', 'attack', 'besieged', 'cities', 'created', 'creatures',
       'death', 'discovers', 'enormous', 'follows', 'forced', 'gripping',
       'hajime', 'high', 'humanity', 'humanoid', 'isayama', 'known',
       'light', 'live', 'massive', 'named', 'note', 'notebook',
       'protection', 'school', 'set', 'student', 'supernatural', 'titan',
       'titans', 'walled', 'world', 'yagami'], dtype=object)

In [68]:
feature_names.shape

(34,)

In [56]:
vectorized_array[0]

array([1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0], dtype=int64)

In [57]:
vectorized_array[1]

array([1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1], dtype=int64)

In [58]:
# Apply removing similarwords like titan,titans

In [59]:
def remove(obj):
    wt=word_tokenize(obj)
    fs=[ps.stem(w) for w in wt]
    return ' '.join(fs)

In [60]:
sent1=remove(sent1)
sent2=remove(sent2)

In [61]:
sent1

'attack on titan , creat by hajim isayama , is a grip anim set in a world besieg by enorm humanoid creatur known as titan , which have forc human to live within massiv wall citi for protect .'

In [62]:
new_s=[sent1,sent2]

In [64]:
new_v=cv.fit_transform(new_s).toarray()

In [73]:
new_v

array([[1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
        0, 1, 0, 1, 0, 0, 2, 1, 1, 0],
       [1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
        1, 0, 1, 0, 1, 1, 0, 0, 0, 1]], dtype=int64)

In [74]:
new_v.shape

(2, 32)

In [69]:
cv.get_feature_names_out()

array(['anim', 'attack', 'besieg', 'citi', 'creat', 'creatur', 'death',
       'discov', 'enorm', 'follow', 'forc', 'grip', 'hajim', 'high',
       'human', 'humanoid', 'isayama', 'known', 'light', 'live', 'massiv',
       'note', 'notebook', 'protect', 'school', 'set', 'student',
       'supernatur', 'titan', 'wall', 'world', 'yagami'], dtype=object)

In [75]:
new_v[0]

array([1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 2, 1, 1, 0], dtype=int64)

In [76]:
new_v[0].shape

(32,)

In [77]:
new_v[1]

array([1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1], dtype=int64)

In [78]:
# performing Vectorization on DataFrame

In [80]:
x={'tags':['Your reply is generally positive and complimentary, which is good',' However, it might be slightly intense for the context of the conversation','If you want to keep things more lighthearted, you could consider toning down the intensity a bit']}
df=pd.DataFrame(x)

In [81]:
df

                                                tags
0  Your reply is generally positive and complimen...
1   However, it might be slightly intense for the...
2  If you want to keep things more lighthearted, ...

In [106]:
y={'name':['sonu','swag','sim'],'tags':['Your reply is generally positive and complimentary, which is good',' However, it might be slightly intense for the context of the conversation','If you want to keep things more lighthearted, you could consider toning down the intensity a bit']}

new=pd.DataFrame(y)
new

   name                                               tags
0  sonu  Your reply is generally positive and complimen...
1  swag   However, it might be slightly intense for the...
2   sim  If you want to keep things more lighthearted, ...

In [107]:
df=df.merge(new,on='tags')
df

                                                tags name_x name_y
0  Your reply is generally positive and complimen...   sonu   sonu
1   However, it might be slightly intense for the...   swag   swag
2  If you want to keep things more lighthearted, ...    sim    sim

In [108]:
import sklearn
from sklearn.feature_extraction.text import CountVectorizer as CV

In [109]:
cv=CV(max_features=15,stop_words='english')

In [110]:
vec_arrays=cv.fit_transform(df['tags']).toarray()

In [111]:
vec_arrays

array([[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0],
       [0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1]], dtype=int64)

In [112]:
vec_arrays.shape

(3, 15)

In [113]:
cv.get_feature_names_out()

array(['bit', 'complimentary', 'consider', 'context', 'conversation',
       'generally', 'good', 'intense', 'intensity', 'lighthearted',
       'positive', 'reply', 'slightly', 'things', 'toning'], dtype=object)

In [114]:
vec_arrays[0]

array([0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0], dtype=int64)

In [115]:
# Calculating Similarities

In [116]:
from sklearn.metrics.pairwise import cosine_similarity as CS

In [117]:
similarities=CS(vec_arrays)

In [118]:
similarities

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [119]:
similarities[0]

array([1., 0., 0.])

In [120]:
# how to find index

In [121]:
df

                                                tags name_x name_y
0  Your reply is generally positive and complimen...   sonu   sonu
1   However, it might be slightly intense for the...   swag   swag
2  If you want to keep things more lighthearted, ...    sim    sim

In [122]:
df['name_x']=='swag'

0    False
1     True
2    False
Name: name_x, dtype: bool

In [123]:
df[df['name_x']=='swag']

                                                tags name_x name_y
1   However, it might be slightly intense for the...   swag   swag

In [124]:
df[df['name_x']=='swag'].index

Index([1], dtype='int64')

In [125]:
df[df['name_x']=='swag'].index[0]

1

In [126]:
name_index=df[df['name_x']=='swag'].index[0]

In [127]:
similarToSwag=similarities[name_index]

In [128]:
similarToSwag

array([0., 1., 0.])

In [129]:
# Enumerate over the similarity scores
similar_with_scores = list(enumerate(similarToSwag))
similar_with_scores

[(0, 0.0), (1, 1.0), (2, 0.0)]

In [131]:
topS=sorted(similar_with_scores,reverse=True, key=lambda x: x[1])

In [132]:
topS

[(1, 1.0), (0, 0.0), (2, 0.0)]